<div class="container mx-auto mt-2 flex flex-col lg:flex-row justify-center">
  <div class="lg:mr-10">
    <%= image_tag("https://image.tmdb.org/t/p/w300#{@movie['poster_path']}", alt: @movie['title'], class: "mb-4") %>
  </div>
  <div class="lg:w-1/2">
    <h1 class="text-3xl font-bold mb-4"><%= @movie['title'] %></h1>
    <p class="text-lg"><strong>Original Title:</strong> <%= @movie['original_title'] %></p>
    <p class="text-lg"><strong>Release Date:</strong> <%= @movie['release_date'] %></p>
    <p class="text-lg"><strong>ID:</strong> <%= @movie['id'] %></p>
    <p class="text-lg"><strong>Popularity:</strong> <%= @movie['popularity'] %></p>
    <p class="text-lg mt-8"><strong>Description:</strong> <%= @movie['overview'] %></p>
  </div>
</div>
<div>
  


  <%= form_tag(new_movie_review_path(movie_id: @movie['id']), method: :get) do %>
    <%= text_field_tag :description, params[:@movie], placeholder: 'Enter movie review', class: "rounded-l-lg p-4 border-t border-b border-l border-black text-gray-800 border-gray-200 bg-white focus:outline-none focus:border-blue-500 w-3/6", style: "height: 40px;" %>
    <%= submit_tag 'Post', class: "px-6 py-2 bg-blue-500 text-white rounded-r-lg hover:bg-blue-600 mt-2" %>
  <% end %>


</div>