<!DOCTYPE html>
<html>
  <head>
    <title>Flimster</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>


    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
  
  
  <script
      src="https://kit.fontawesome.com/14dea2b7a9.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <%= render 'shared/nav'%>
       <div class="bg-black min-h-screen text-white px-8 pt-32">

    <%= yield %>
    </div>
  </body>
</html>
